.footer{
      width: 30%;
      opacity: 0.8;
      background-color: #03a5fc;
      margin-left: 20px;
      color: white;
      text-align: left;
      font-family: "Lucida Console", Courier, monospace;
}
