{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css1.css' %}">

     {% if title %}
        <title>TF - {{ title }}</title>
    {% else %}
        <title>TF</title>
    {% endif %}
    <link rel="icon" href="{% static 'images/icon.ico' %}" type = "image/x-icon">
</head>
<body class="bg" style="background-image: url('{% static 'images/background3.jpg' %}');">
<br>
<br>
<center>
    {% if heading %}
        <h1 class="shadow"  title="Welcome to Thousand Faces">{{ heading }}</h1>
    {% else %}
        <h1 class="shadow"  title="Welcome to Thousand Faces">Thousand Faces</h1>
    {% endif %}

    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'home' %}"><button type="button" class="btn btn-info">Home</button></a>
    <a href="{% url 'members' %}"><button type="button" class="btn btn-info">Members</button></a>
    <a href='https://www.reverbnation.com/thousandfaces90/songs' target='_blank'><button type="button" class="btn btn-info">Songs</button></a>
    <a href="{% url 'videos' %}"><button type="button" class="btn btn-info">Videos</button></a>
    <a href="{% url 'about' %}"><button type="button" class="btn btn-info">About</button></a>
</center>

<div class="wrap">
  <div class="social"><a href="http://www.facebook.com/thsndfaces?ref=hl" target="_blank">
      <img src="{% static 'images/facebook.png' %}" height="35px" width="35px" title="Facebook"></a>
  </div>
  <div class="social"><a href="http://www.youtube.com/user/friendlychannel100" target="_blank">
      <img src="{% static 'images/youtube.png' %}" height="35px" width="35px" title="Youtube"></a>
  </div>
</div>
{% block content %}

{% endblock content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>