{% extends "base.html" %}
{% block content %}
<br>
<center>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qTVzhxYRYPs"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oXX3LsYF4_k"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</center>
{% endblock content %}

